version: "3"
services:
  hmpps-uof-data-api:
    build:
      context: .
    networks:
      - hmpps
    depends_on:
      - use-of-force-db
    container_name: hmpps-uof-data-api
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://use-of-force-db:5432/use-of-force
      - SPRING_DATASOURCE_USERNAME=use-of-force
      - SPRING_DATASOURCE_PASSWORD=use-of-force
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080

  use-of-force-db:
    image: postgres:18.3
    networks:
      - hmpps
    container_name: use-of-force-db
    restart: always
    ports:
      - "9432:5432"
    environment:
      - POSTGRES_PASSWORD=use-of-force
      - POSTGRES_USER=use-of-force
      - POSTGRES_DB=use-of-force

networks:
  hmpps:
